
<div class="banner d-flex align-items-center" style="background-image: url(https://images.unsplash.com/photo-1457282168619-2383c79b278d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1508&q=80);">
  <div class="container">
    <h1><strong>Add some green to your space</strong></h1>
    <h5>Search something you will love</h5>
    <%= link_to "Explore our plants", plants_path, class:"btn btn-primary" %>
  </div>
</div>

<div class= "container">


  <h3 class="my-3"> Top plants </h3>

  <div class="row">
      <% @plants.each do |plant| %>
        <div class="col-4">
          <div class="card">
            <img class="card-img-top" src="https://media.jardinitis.com/product/bonsai-zelkova-parvifolia-olmo-800x800.jpeg" alt="Plant image cap">
            <div class="card-body">
              <h5 class="card-title"><%= plant.name %></h5>
              <p class="card-text"><%= plant.price %>€</p>
              <%= link_to "More info", plant_path(plant), class:"btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>


  </div>

</div>
