<div class= "container">


  <h3 class="my-3"> There's a lot to discover here </h3>

  <div class="row">
      <% @plants.each do |plant| %>
        <div class="col-4">
          <div class="card">
            <img class="card-img-top" src="https://media.jardinitis.com/product/bonsai-zelkova-parvifolia-olmo-800x800.jpeg" alt="Plant image cap">
            <div class="card-body">
              <h5 class="card-title"><%= plant.name %></h5>
              <p class="card-text"><%= plant.price %>€</p>
              <%= link_to "More info", plant_path(plant), class:"btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>


  </div>

</div>
