<div class="container col-8">

    <div class="row">
      <div class="col-4">
        <img src="https://d2r55xnwy6nx47.cloudfront.net/uploads/2020/07/Photosynthesis_2880_Lede.jpg" height="500" class="w-100" style="object-fit: cover;">
      </div>
      <div class="col-8">
        <h1> <%= @plant.name %> </h1>
        <h4>Details of about your plant</h4>
        <div class="row">
          <div class="col-6">
            Type:
          </div>
        </div>
        <p><%= @plant.description %></p>
        <p><%= @plant.price %></p>

        <%= link_to "Book", new_plant_booking_path(@plant), class:"btn btn-primary" %>
      </div>
    </div>
</div>
