<div class="container">
  <div class="container-plant-show">
    <h2> <%= @plant.name %> </h2>
    <img src="https://d2r55xnwy6nx47.cloudfront.net/uploads/2020/07/Photosynthesis_2880_Lede.jpg" height="500" width="auto">
    <div class="plant-details">
      <div class="plant-info-avatar">
        <h3>details</h3>
        <p><%= @plant.description %></p>
      </div>
      <div class="booking-details">
        <p><%= @plant.price %></p>
          <%= link_to "Book", new_plant_booking_path(@plant), class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
