.form-control {
  // display: flex;
  width: 500px;
  border-radius: 20px;
  opacity: 0.6;
}

.search-container {
  margin-top: 50px;
}

.search-bar {
  position: relative;
  width: 500px;
}

.form-control:focus {
  opacity: 1;
  // border: solid black 1px;
}

.btn-main.btn-search {
position: absolute;
    top: 0;
    right: 0;
    padding: 7px;
    width: 38px;
}